{% extends 'base.html' %}

{% block content %}

<!-- If user is logged in, show the following: -->
{% if user.is_authenticated %}

<table class="table table-dark table-striped table-hover table-bordered">
    <thead class="table-success">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Major</th>
            <th scope="col">Department</th>
            <th scope="col">Class Level</th>
            <th scope="col">GPA</th>
            <th scope="col">Record Initiation Date</th>
            <th scope="col">Student ID</th>
        </tr>
    </thead>
    <tbody>
        <!-- If there are records, populate the table rows with the records -->
        {% if records %}
        {% for record in records %}
        <tr>
            <td>{{ record.first_name }}
                {{ record.last_name }}</td>
            <td>{{ record.major }}</td>
            <td>{{ record.department }}</td>
            <td>{{ record.class_level }}</td>
            <td>{{ record.gpa }}</td>
            <td>{{ record.created_at }}</td>
            <td><a class="text-success align-middle" href="{% url 'record' record.id %}">{{ record.id }}</a></td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>

{% else %}
<!-- Otherwise, show the login page: -->
<div class="col-md-6 offset-md-3">
    <h1>Login</h1>
    </br>
    <form method="POST" action="{% url 'home' %}">
        {% csrf_token %}
        <div class="mb-3">
            <input required type="text" class="form-control" name="username" placeholder="Username">
        </div>
        <div class="mb-3">

            <input required type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <div class="btn-toolbar">
            <button type="submit" class="btn btn-dark">Login</button>

            <button class="btn btn-success ms-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
                Login Info for Beta Testers
            </button>

        </div>
        <div style="min-height: 120px;">
            <div class="collapse collapse-horizontal" id="collapseWidthExample">
                <div class="card card-body" style="width: 300px;">
                    <strong>Username:</strong> admin
                    <br />
                    <strong>Password:</strong> coolproject123
                </div>
            </div>
        </div>
    </form>
</div>


{% endif %}

{% endblock %}